.flex{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}




@media (max-width:600px){
    .flex{
        flex-wrap: wrap;
        gap: 10px;
    }
    .box{
        width: 300px;
    }
   
}